.player-stats {
  background: $color-bg-body;
  // border-radius: 25px;
  // border: 2px solid $color-bg-header-alt;
  padding: $m-size;
  justify-content: space-between;
  display: block;
  margin: 0 auto;
  text-align: center;

  table {
    table-layout: fixed ;
    width: 100%;
    margin: 0 auto;
    th {
      text-align: center;
    }
    td {
      text-align: center;
    }
  }
}

.player-stats__th {
  th {
    color: white;
    font-size: $font-size-m;
    text-align: center;
  }
}

.player-stats__td {
  td {
    text-align: center;
    color: $color-bg-header-alt2;
    font-size: $font-size-xl;
    font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  }
}
