//color
$color-bg-body:#1C2833;
$color-bg-header: #17202A;
$color-negative: #FF1744;
$color-positive: #64FFDA;
$color-even: #EEFF41;

$color-bg-header-alt: #64FFDA;
$color-bg-header-alt2: #FF1744;
$color-text-header: white;
$color-text-body: darkgray;
$color-negative-alt: white;
$color-positive-alt: black;
$color-even-alt: black;

//font size
$font-size-xxxl: 5.0rem;
$font-size-xxl: 4.0rem;
$font-size-xl: 3.0rem;
$font-size-l: 2.4rem;
$font-size-m: 1.9rem;
$font-size-s: 1.5rem;
$font-size-xs: 1.2rem;

//spacing
$xs-size: 1.0rem;
$s-size: 1.2rem;
$m-size: 1.6rem;
$l-size: 3.2rem;
$xl-size: 4.8rem;
$desktop-breakpoint: 45rem;


